.investor-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}

.farm-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.farm-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 354px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.farm-card:hover {
  transform: scale(1.02);
}

.farm-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.farm-card p {
  margin: 5px 0;
}

.no-farms {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

.farm-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.interested-btn {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
}

.interested-btn:hover {
  background-color: rgb(48, 48, 48);
}

.loading-message {
  font-size: 30px;
  font-weight: 500;
}
