.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2e2e2e;
}

.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 10px;
  margin-inline: 20px;
  border: 1px solid #2e2e2e;
}

.nav-link:hover {
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
  color: black;
}

.logout-btn {
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 550;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #d32f2f;
}
